body {
    min-height: 100vh;
    background-color: #007008;
    color: white;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.game-container { 
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    justify-content: center;
    

}
.card {
    background-color: #ffd966;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    
}

.card:hover {
    transform: scale(1.07);
    transition: transform 0.25s;
    cursor: pointer;
}

.game-info-container {
    grid-column: 1 / -1;
}

.backBtn {
    background-color: #ffd966;
    color: #000000;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
