* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --modal-button-color: #ffd966;
    --global-text-color: #000000;
    --home-page-background-color: #505050;
    --gmae-page-background-color: #4c6c06;
}


.title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 3rem;
    margin-top: 2rem;
}

body {
    background-color: var(--home-page-background-color);;
}



#player-stats-modal {
    background-color: var(--modal-button-color);
    color: var(--global-text-color);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    
}

footer {
    display: flex;
    align-items: center;
    
}

