/* GLOBAL TAG AND VARIABLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --modal-button-color: #ffd966;
    --global-text-color: #000000;
    --home-page-background-color: #a5a5a5;
    --gmae-page-background-color: #4c6c06;
}


/* ELEMENT */

html,body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
}


body {
    height: 100vh;
    background-color: var(--home-page-background-color);
    
}

footer {
    margin-top: auto;
}

/* CLASSES */

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: serif;
    font-size: 3rem;
    margin-top: 2rem;
}



a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.buttonMode {
    background-color: #ffd966;
    color: #000000;
    font-size: larger;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    align-items: center;
}

.second-heading > h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: serif;
    font-size: 2rem;
    height: 75%;
}
.flex-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* ID */

#player-stats-modal {
    background-color: var(--modal-button-color);
    color: var(--global-text-color);
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    margin: 25px;
    
}

footer {
    display: flex;
    align-items: center;
    
}

